aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==22.2.0
certifi==2022.12.7
chardet==4.0.0
charset-normalizer==2.0.12
discord-py-slash-command==2.0.2
discord.py==1.7.3
idna==3.4
idna-ssl==1.1.0
multidict==5.2.0
Pillow==8.4.0
pkg-resources==0.0.0
python-dotenv==0.20.0
requests==2.27.1
typing-extensions==4.1.1
urllib3==1.26.15
yarl==1.7.2
